# dependencies
node_modules
.pnp
.pnp.js

# build
.next
out
build
dist

# env
.env
.env.local
.env.*.local

# debug
npm-debug.log*
.pnpm-debug.log*

# prisma
prisma/*.db
prisma/*.db-journal

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
